@page
@model VeterinaryClinicSystem.Pages.Admin.EditBlogModel
<h2>Edit Blog Post</h2>
<form method="post">
    <input type="hidden" asp-for="Blog.PostId" />
    <div class="form-group">
        <label asp-for="Blog.Title"></label>
        <input asp-for="Blog.Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Blog.Content"></label>
        <textarea asp-for="Blog.Content" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Blog.Category"></label>
        <input asp-for="Blog.Category" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>