@page
@model AccessDeniedModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Access Denied.";
}

<div class="text-center mt-5">
    <p class="lead">Access denied.</p>

    <a class="btn btn-primary mt-3" asp-page="/Index">Return to previous.</a>
</div>
