@page
@model VeterinaryClinicSystem.Pages.MedicalRecords.CreateModel
@{
    ViewData["Title"] = "Create Medical Record";
}

<h1>Create Medical Record</h1>

<form method="post">
    

    <input asp-for="MedicalRecord.PetId" type="hidden" class="form-control" />
    
    <input asp-for="MedicalRecord.DoctorId" type="hidden" class="form-control" />
    
    <input asp-for="MedicalRecord.AppointmentId" type="hidden" class="form-control" />

    <div class="form-group">
        <label asp-for="MedicalRecord.Diagnosis"></label>
        <textarea asp-for="MedicalRecord.Diagnosis" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="MedicalRecord.TestResults"></label>
        <textarea asp-for="MedicalRecord.TestResults" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="MedicalRecord.Prescription"></label>
        <textarea asp-for="MedicalRecord.Prescription" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="MedicalRecord.TreatmentPlan"></label>
        <textarea asp-for="MedicalRecord.TreatmentPlan" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="MedicalRecord.FollowUpDate"></label>
        <input asp-for="MedicalRecord.FollowUpDate" class="form-control" type="date" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
